<h2><%= @list.name %></h2>

<% @list.movies.each do |movie| %>
  <ul>
    <li>
      <%= image_tag movie.poster_url, alt: "Poster for #{movie.title}", width: 200 %>
      <p><%= movie.title %></p>
      <p><%= movie.rating %></p>
      <p><%= movie.overview %></p>
      <% movie.bookmarks.each do |bookmark| %>
        <p><%= bookmark.comment %></p>
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </li>

  </ul>
<% end %>
